Button {
  color: #a7bee7;
  background-color: transparent;

  border-radius: 50rem;
  border: 1px solid #a7bee7;

  font-size: 16px;

  margin: 5px 10px 5px 0;
  padding: 0.8rem 2rem;

  &:hover {
    cursor: pointer;
    color: #24509c;
    border: 1px solid #24509c;
  }

  &.click {
    color: white;
    border: 1px solid #24509c;
    background-color: #24509d;
  }
}
